<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <!--<i class="fas fa-key fa-6x" ></i>-->
    <i class="fas carlogo1.jpg fa-6x" ></i>
    <!--<img src="carlogo1.jpg" style="width: 200px;height: 100px;">-->
    <h1 class="display-3">VBC RENTALS</h1>
    <p class="lead">Book a vehicle,Enjoy your ride</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
